.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 40px;
}

.header-menu {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: 51px;
}

.header-menu a {
   font-size: 1.6rem;
   line-height: 1.5;
   font-weight: 500;
   transition: 0.2s ease;
}

.header-menu a:hover {
   color: var(--red);
}

[data-menu="button"] {
   display: none;
}

@media (max-width: 894px) {
   .header-menu {
      gap: 32px;
   }
}

@media (max-width: 768px) {
   [data-menu="button"] {
      display: flex;
      background: transparent;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      width: max-content;
      height: 30px;
      position: relative;
   }

   [data-menu="button"]::before {
      background: var(--red);
      box-shadow: 0 10px var(--red), 0 -10px var(--red);
      content: "";
      height: 4px;
      margin-right: 4px;
      transition: transform 0.3s;
      width: 32px;
   }

   [data-menu="button"].active::before {
      transform: rotate(90deg);
   }

   .header.active {
      margin-bottom: 140px;
      transition: 0.3s ease;
   }

   .header-menu {
      display: none;
      position: absolute;
      width: 100%;
      top: 80px;
      right: 0px;
      padding: 20px;
      background: #FFDCD2;
   }

   .header-menu.active {
      display: block;
      animation: show-up 0.5s forwards;
   }

   @keyframes show-up {
      from {
         opacity: 0;
         transform: translate3d(0, 0px, 0);
      }
      to {
         opacity: 1;
         transform: translate3d(0, 0px, 0);
      }
   }
}