.skills {
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px 20px;
    margin-top: 47px;
}

.skills-lista {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(150px, auto));
   gap: 50px;
}

.skills-item {
   padding: 35px;
   background: var(--gray-400);
   display: flex;
   place-content: center;
   cursor: pointer;
}
