/*Variáveis*/
:root {
   --white: #fff;
   --dark: #131318;
   --blue: #0072D2;
}

/* Estilo */
body {
   min-height: 100vh;
   font-family: "B612", sans-serif;
   background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/fundo.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   color: var(--white);
}
